* {
  margin: 0;
  padding: 0;
}

nav {
  width: 300px;
  background-color: #333333;
  border-right: 1px solid #333333;

  position: fixed;
  height: 100%;
  padding-top: 20px;
}

h1 {
  font-size: 18px;
  padding: 20px;
  color: white;
  text-align: center;
}
